<template>
  <div class="the-main-navbar">
      

      <div class="navbar">
          <div class="nav-main-page">
            <div class="logo-com">
                <div class="nav-logo">
                  <img src="../assets/imgs/logo.jpg" alt="">
              </div>
                  <div class="nav-logo-head">
                      <h6>
                          <nuxt-link to="">
                              <h6 style="color:#febe06">الرئيسية</h6>
                          </nuxt-link>
                      </h6>
                  </div>
            </div>

          </div>
         <div class="form-button" style="width:35%">
           <div class="form-groub" style="width: 77%;position: relative;height: 40px;float: right;">
           <i class="fas fa-search" style="position:absolute;color: #000;top: 11px;right: 10px;font-size:21px;"></i>
           <input type="text" style="padding-right:40px;" class="form-control" placeholder="ابحث عن المنتاجات و العلامة التجارية و الاقسام">
           
         </div>
                  <button style="width: 17%;border-radius:9px;display: inline-block;padding: 6px;text-align: center;border: 0;margin-right: 10px;margin-top: 1px;background: #ffbf13;color: #FFF;box-shadow: 2px 2px 7px -1px rgba(255, 191, 19, 0.48);"> بحث </button>
         </div>

          <div class="nav-cont">



                          <vs-dropdown vs-custom-content vs-trigger-click >
      <a class="a-icon" href.prevent style="position:relative">
        <i class="far fa-heart" style="font-size: 24px;"></i>
        <span style="padding: 0px 8px;background: #ffbf13;color: #FFF;border-radius: 50%;position: absolute;top: -18px;left: 12px;">5</span>
      </a>

      <vs-dropdown-menu class="loginx" style="min-width:400px">
        <h4 style="background: #ffbf13;color: #FFF;padding: 7px;    text-align: center;">عدد المنتاجات <span style="font-size:15px;">5</span></h4>
       

       <div class="drop-products" style="max-height: 271px;overflow-y: scroll;">
          <div class="love-item" style="overflow:hidden;border-bottom:1px solid #eee;">
          <div class="love-item-img" style="width: 66px;padding: 7px;float:right">
            <img style="width:100%;height:100%" src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1591781826/dylbk6ntmdz1p72gsari.jpg" alt="">
          </div>

          <div class="love-item-cont" style="padding: 2px 10px 0 0;float: right;width: 58%;">
            <h5>استرولرTA</h5>
            <p>استرولرTA</p>
          </div>

          <div class="love-item-cont" style="padding: 7px;float:right;    width: 23%;">

            <p>300 <span style="float: right;margin-left: 5px;font-size: 9px;padding-top: 7px;">SR</span></p>
            <i class="far fa-window-close" style="color: rgba(255, 0, 0, 0.5);margin-right: 17px;"></i>
          </div>
        </div>



        <div class="love-item" style="overflow:hidden;border-bottom:1px solid #eee;">
          <div class="love-item-img" style="width: 66px;padding: 7px;float:right">
            <img style="width:100%;height:100%" src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590756181/s14weju6duzwfprsvuud.jpg" alt="">
          </div>

          <div class="love-item-cont" style="padding: 2px 10px 0 0;float: right;width: 58%;">
            <h5>استرولر KF</h5>
            <p>المقاس: الألوان المتاحة: وصف المنتج: استرولر KF</p>
          </div>

          <div class="love-item-cont" style="padding: 7px;float:right;    width: 23%;">

            <p>560 <span style="float: right;margin-left: 5px;font-size: 9px;padding-top: 7px;">SR</span></p>
                        <i class="far fa-window-close" style="color: rgba(255, 0, 0, 0.5);margin-right: 17px;"></i>

          </div>
        </div>



        <div class="love-item" style="overflow:hidden;border-bottom:1px solid #eee;">
          <div class="love-item-img" style="width: 66px;padding: 7px;float:right">
            <img style="width:100%;height:100%" src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590820996/mh2ijkwhg0hlarum4nwy.jpg" alt="">
          </div>

          <div class="love-item-cont" style="padding: 2px 10px 0 0;float: right;width: 58%;">
            <h5>محبس أطفال بطاولة غيار وألعاب</h5>
            <p>محبس أطفال بطاولة غيار وألعاب</p>
          </div>

          <div class="love-item-cont" style="padding: 7px;float:right;    width: 23%;">

            <p>450 <span style="float: right;margin-left: 5px;font-size: 9px;padding-top: 7px;">SR</span></p>
                        <i class="far fa-window-close" style="color: rgba(255, 0, 0, 0.5);margin-right: 17px;"></i>

          </div>
        </div>



        <div class="love-item" style="overflow:hidden;border-bottom:1px solid #eee;">
          <div class="love-item-img" style="width: 66px;padding: 7px;float:right">
            <img style="width:100%;height:100%" src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590766349/glu9k1ufllx8ipqud96j.jpg" alt="">
          </div>

          <div class="love-item-cont" style="padding: 2px 10px 0 0;float: right;width: 58%;">
            <h5>البيبي الصغير</h5>
            <p>البيبي الصغير</p>
          </div>

          <div class="love-item-cont" style="padding: 7px;float:right;    width: 23%;">

            <p>57 <span style="float: right;margin-left: 5px;font-size: 9px;padding-top: 7px;">SR</span></p>
                        <i class="far fa-window-close" style="color: rgba(255, 0, 0, 0.5);margin-right: 17px;"></i>

          </div>
        </div>
       </div>


       

        <div
          class="checkout-footer fixed bottom-0 rounded-b-lg text-primary font-semibold w-full p-2 text-center border border-b-0 border-l-0 border-r-0 border-solid d-theme-border-grey-light cursor-pointer"
          @click="$router.push('/apps/eCommerce/checkout').catch(() => {})"
        >
          <span class="flex items-center justify-center">
           <i class="far fa-heart" style="font-size: 24px;"></i>
            <span class="ml-2" color="warning">عرض المفضلة</span>
          </span>
        </div>
      </vs-dropdown-menu>
    </vs-dropdown>






      <vs-dropdown vs-custom-content vs-trigger-click >
      <a class="a-icon" href.prevent style="position:relative">
        <i class="fas fa-shopping-cart" style="font-size:24px"></i>
        <span style="padding: 0px 8px;background: #ffbf13;color: #FFF;border-radius: 50%;position: absolute;top: -18px;left: 12px;">5</span>
      </a>

      <vs-dropdown-menu class="loginx" style="min-width:400px">
        <h4 style="background: #ffbf13;color: #FFF;padding: 7px;    text-align: center;">عدد المنتاجات <span style="font-size:15px;">5</span></h4>
       

       <div class="drop-products" style="max-height: 271px;overflow-y: scroll;">
          <div class="love-item" style="overflow:hidden;border-bottom:1px solid #eee;">
          <div class="love-item-img" style="width: 66px;padding: 7px;float:right">
            <img style="width:100%;height:100%" src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590820996/mh2ijkwhg0hlarum4nwy.jpg" alt="">
          </div>

          <div class="love-item-cont" style="padding: 2px 10px 0 0;float: right;width: 58%;">
            <h5>محبس أطفال بطاولة غيار وألعاب</h5>
            <p>محبس أطفال بطاولة غيار وألعاب</p>
          </div>

          <div class="love-item-cont" style="padding: 7px;float:right;    width: 23%;">

            <p>450 <span style="float: right;margin-left: 5px;font-size: 9px;padding-top: 7px;">SR</span></p>
                        <i class="far fa-window-close" style="color: rgba(255, 0, 0, 0.5);margin-right: 17px;"></i>

          </div>
        </div>



        <div class="love-item" style="overflow:hidden;border-bottom:1px solid #eee;">
          <div class="love-item-img" style="width: 66px;padding: 7px;float:right">
            <img style="width:100%;height:100%" src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767675/rwjl8oylu1nrud0aie9h.jpg" alt="">
          </div>

          <div class="love-item-cont" style="padding: 2px 10px 0 0;float: right;width: 58%;">
            <h5>نظارة سباحة</h5>
            <p>نظارة سباحة</p>
          </div>

          <div class="love-item-cont" style="padding: 7px;float:right;    width: 23%;">

            <p>7 <span style="float: right;margin-left: 5px;font-size: 9px;padding-top: 7px;">SR</span></p>
                        <i class="far fa-window-close" style="color: rgba(255, 0, 0, 0.5);margin-right: 17px;"></i>

          </div>
        </div>



        <div class="love-item" style="overflow:hidden;border-bottom:1px solid #eee;">
          <div class="love-item-img" style="width: 66px;padding: 7px;float:right">
            <img style="width:100%;height:100%" src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767583/aagzy6ydysej2xmrs7o5.jpg" alt="">
          </div>

          <div class="love-item-cont" style="padding: 2px 10px 0 0;float: right;width: 58%;">
            <h5>كفر سباحة</h5>
            <p>كفر سباحة الألوان المتاحة: أسود</p>
          </div>

          <div class="love-item-cont" style="padding: 7px;float:right;    width: 23%;">

            <p>16 <span style="float: right;margin-left: 5px;font-size: 9px;padding-top: 7px;">SR</span></p>
                        <i class="far fa-window-close" style="color: rgba(255, 0, 0, 0.5);margin-right: 17px;"></i>

          </div>
        </div>



        <div class="love-item" style="overflow:hidden;border-bottom:1px solid #eee;">
          <div class="love-item-img" style="width: 66px;padding: 7px;float:right">
            <img style="width:100%;height:100%" src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590864959/jjotln1lsjjmaigbodyu.jpg" alt="">
          </div>

          <div class="love-item-cont" style="padding: 2px 10px 0 0;float: right;width: 58%;">
            <h5>ألعاب حوض سمك</h5>
            <p>ألعاب حوض سمك</p>
          </div>

          <div class="love-item-cont" style="padding: 7px;float:right;    width: 23%;">

            <p>279 <span style="float: right;margin-left: 5px;font-size: 9px;padding-top: 7px;">SR</span></p>
                        <i class="far fa-window-close" style="color: rgba(255, 0, 0, 0.5);margin-right: 17px;"></i>

          </div>
        </div>
       </div>


       

        <div
          class="checkout-footer fixed bottom-0 rounded-b-lg text-primary font-semibold w-full p-2 text-center border border-b-0 border-l-0 border-r-0 border-solid d-theme-border-grey-light cursor-pointer"
          @click="$router.push('/apps/eCommerce/checkout').catch(() => {})"
        >
          <span class="flex items-center justify-center" style="color:#ffba00;">
            <i class="fas fa-shopping-cart"></i>
            <span class="ml-2" color="warning">Checkout</span>
          </span>
        </div>
      </vs-dropdown-menu>
    </vs-dropdown>

             
            
                 

                  <vs-dropdown color="warning" >
      <a class="a-icon" href="#">
         <i style="margin-left:5px;float:none" class="far fa-user"></i>
        تسجيل الدخول
        <vs-icon class="" icon="expand_more"></vs-icon>
      </a>

      <vs-dropdown-menu >
        <vs-dropdown-item>
          <button class="in-hover-drop">تسجيل الدخول</button>
        </vs-dropdown-item>
        <vs-dropdown-item divider>
          <h6 style="margin-bottom:0;text-align:center;padding:5px 0;">انشاء حساب</h6>
        </vs-dropdown-item>
        <vs-dropdown-item divider>
          <h6 style="margin-bottom:0"> <i style="margin-left:5px" class="far fa-user"></i> الحساب</h6>
        </vs-dropdown-item>

         <vs-dropdown-item  >
          <h6 style="margin-bottom:0">
            <i style="margin-left:5px" class="far fa-folder-open"></i>
            الطلبات</h6>
        </vs-dropdown-item>

         <vs-dropdown-item >
          <h6 style="margin-bottom:0;color:#ffba00;">
            <i style="margin-left:5px" class="far fa-heart"></i>
            المنتجات  المحفوطة</h6>
        </vs-dropdown-item>
      </vs-dropdown-menu>
    </vs-dropdown>



          

      


       
              <div id="parentx">

    <vs-button @click="active=!active" color="warning" type="filled">Open Sidebar</vs-button>
    <vs-sidebar position-right  parent="body" default-index="1"  color="warning" class="sidebarx" spacer v-model="active">

      <div class="header-sidebar" slot="header">
        <vs-avatar  size="70px" src="https://randomuser.me/api/portraits/men/85.jpg"/>

        <h4>
          هنا اسم المستخدم
          <vs-button color="warning" icon="more_horiz" type="flat"></vs-button>
        </h4>

      </div>

      <vs-sidebar-item index="1" icon="question_answer">
        المنتاجات
      </vs-sidebar-item>

      <vs-sidebar-item index="2" icon="gavel">
        احدث العروض
      </vs-sidebar-item>

      <vs-divider icon="person" position="left">
        المشتريات
      </vs-divider>

      <vs-sidebar-item index="3" icon="verified_user">
        قائمة المفضلة
      </vs-sidebar-item>
      <vs-sidebar-item index="4" icon="account_box">
        Profile
      </vs-sidebar-item>
      <vs-sidebar-item index="5" >
        Card
      </vs-sidebar-item>

      <div class="footer-sidebar" slot="footer">
        <vs-button icon="reply" color="warning" type="flat">تسجيل الخروج</vs-button>
        <vs-button icon="settings" color="warning" type="border"></vs-button>
      </div>

    </vs-sidebar>
  </div>


          </div>
      </div>





  </div>
</template>

<script>
export default {
  
data(){
    return{
        active:false,
        valueSearch:''
    }
}
}
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl{
  $left: right;
  $right: left;
}@else{
  $left: left;
$right: right;
}

*{
    direction: $dir !important;
    text-align: $left;
}


.nav-logo-head{
    float: $left;
    padding-top: 13px;
    margin: 0 10px;
    h6{
        font-size: 23px;
    color: #FFF;
    a{
        &:hover{
            text-decoration: none;
        }
    }
    }
}
.vs-dropdown--menu--after{
      left:10px !important;
    }
  
.con-vs-dropdown--menu.rightx .vs-dropdown--menu--after{
  left:22px !important;
}

 .in-hover-drop{
                  padding: 8px 15px;
    border: none;
    border-radius: 7px;
    margin-right: 7px;
    width:90%;
    text-align: center;
    background: #ffba00;
    color: #fff;
    transition: all .5s ease;
                }


.the-main-navbar{
    overflow: hidden;
    position: fixed;
    z-index: 99;
    width: 100%;


    .form-control:focus {
    
    border-color: rgba(255, 186, 0, .2);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 186, 0, .2);
}
    
    .navbar{
        background: #fff;
    box-shadow: 0px 3px 20px -10px #000;
    margin-bottom: 20px;
            .nav-logo{
               width: 60px;
    height: 50px;
    float: $left;
    border-radius: 50%;
    cursor: pointer;
                img{
                    
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border:1px solid #fff;
                transition: all .3s linear;
                &:hover{
                    padding: 2px;
                }
                }
            }
            .logo-com{
              overflow: hidden;
    display: inline-block;
            }

            .nav-cont{
              
              .vs-con-dropdown{
                padding-top: 9px;
    padding-bottom: 4px;
    border-radius: 10px;
    padding: 9px 9px 6px;
    
                   &:last-of-type{
                     padding-top: 9px;
    padding-bottom: 4px;
    border-radius: 10px;
    padding: 9px 9px 6px;
                a{
                  color:#000;
                  font-size: 16px;
                  i{
                    float: left;
                    padding-top: 2px;
                    padding-right: 2px;
                  }
                }
                   }
               
              }
              >div{
                float: left;
                display: none;
                &:first-of-type{
                  display: block;
                  button{
                    padding: 8px;
                    border: none;
                    border-radius: 7px;
                    margin-right: 7px;
                    background: #ffba00;
                    color: #fff;
                    transition: all .5s ease;
                    &:hover{
                                        box-shadow: 0 8px 25px -8px rgba(var(--vs-warning),1);

                    }
                  }
                }
              }
            }

            
    }
}

.love-item{
              transition: all .5s ease;
              &:hover{
                background: #EEE;
                cursor: pointer;
              }
              .love-item-cont{
                    h5{
                      font-size: 15px;
                    }
                    p{
                      color:#696969;
                      font-size: 14px;
                      
                    }
              }
            }
  .drop-products::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            .drop-products::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px #999; 
                border-radius: 10px;
            }
            
            /* Handle */
            .drop-products::-webkit-scrollbar-thumb {
                background: #8c8b8b; 
                border-radius: 10px;
            }

            /* Handle on hover */
            .drop-products::-webkit-scrollbar-thumb:hover {
                background: #8c8b8b; 
            }


    
.header-sidebar{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
    h4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    > button{
        margin-left: 10px;
    }
    }
.footer-sidebar{
     display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  > button{
      
      border: 0px solid rgba(0,0,0,0) !important;
      border-left: 1px solid rgba(0,0,0,.07) !important;
      border-radius: 0px !important;
  }

}
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

  .nav-cont{
    >div{
      display: block !important;
      
    }
  }
  .the-main-navbar .navbar .nav-cont .vs-con-dropdown{
    display: none;
  }

  .navbar .form-button{
    display: none;
  }
  
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  .the-main-navbar .navbar .nav-cont > div:first-of-type button{
    display: none;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  .the-main-navbar .navbar .nav-cont > div:first-of-type button{
    display: none;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .the-main-navbar .navbar .nav-cont > div:first-of-type button{
    display: none;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .the-main-navbar .navbar .nav-cont > div:first-of-type button{
    display: none;
  }
 }
</style>