<template>
  <div class="cards">
    <Navbar />
    <div class="container">
      <div class="cards-grid">
        <div class="row">
          <div class="col-md-3 ">
            <div class="cards-filter">
              <div class="first-cate">
                <h4>التصنيفات</h4>
                <div class="rate-item">
                  <div class="choose-this">
                    <input
                      type="radio"
                      id="all"
                      value="all"
                      v-model="filterCheckbox"
                    />
                  </div>
                  <div class="rate-stars">
                    <h6>الكل</h6>
                  </div>
                </div>
                <div class="rate-item">
                  <div class="choose-this">
                    <input
                      type="radio"
                      id="clothes"
                      value="clothes"
                      v-model="filterCheckbox"
                    />
                  </div>
                  <div class="rate-stars">
                    <h6>الملابس</h6>
                  </div>
                </div>
                <div class="rate-item">
                  <div class="choose-this">
                    <input
                      type="radio"
                      id="games"
                      value="games"
                      v-model="filterCheckbox"
                    />
                  </div>
                  <div class="rate-stars">
                    <h6>العاب</h6>
                  </div>
                </div>
                <div class="rate-item">
                  <div class="choose-this">
                    <input
                      type="radio"
                      id="childshelpers"
                      value="childshelpers"
                      v-model="filterCheckbox"
                    />
                  </div>
                  <div class="rate-stars">
                    <h6>مستلزمات الطفل</h6>
                  </div>
                </div>
                <div class="rate-item">
                  <div class="choose-this">
                    <input
                      type="radio"
                      id="mothershelpers"
                      value="mothershelpers"
                      v-model="filterCheckbox"
                    />
                  </div>
                  <div class="rate-stars">
                    <h6>مستلزمات الأم</h6>
                  </div>
                </div>
              </div>

              <div class="first-sub-cate ">
                <div class="clothes-categories">
                  <h4>التصنيفات</h4>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>الكل</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>ملابس اطفال</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>ملابس حوامل</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>ملابس بنات</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>ملابس اولادي</h6>
                    </div>
                  </div>
                </div>

                <div class="games-categories">
                  <h4>التصنيفات</h4>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>الكل</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>العاب فردية</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>العاب جماعية</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>مسابح</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>رسم و لتوين</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>ألعاب ذكاء</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>ارضيات فوم</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>العاب تعليمية</h6>
                    </div>
                  </div>
                </div>

                <div class="child-helpers-categories">
                  <h4>التصنيفات</h4>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>الكل</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>ميديكال</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>أسترولرز</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>بونسرز</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>كارسيت</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>سجادة بيبي</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>أسرة</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>محابس اطفال</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>مهد بيبي</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>كرسي طعام</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>كاريكوت</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>مشايات بيبي</h6>
                    </div>
                  </div>
                </div>

                <div class="mothers-helpers-categories">
                  <h4>التصنيفات</h4>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>مخدة رضاعة</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>ساتر رضاعة</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>شنطة الأم</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>حزام الأمان</h6>
                    </div>
                  </div>
                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>شالية الطفل</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>كراسي و مراتب</h6>
                    </div>
                  </div>

                  <div class="rate-item">
                    <div class="choose-this">
                      <input type="radio" name="one-star" id="" />
                    </div>
                    <div class="rate-stars">
                      <h6>مخدة الحمل</h6>
                    </div>
                  </div>
                </div>
              </div>

              <div class="filter-rateing">
                <h4>تقييم المنتج</h4>

                <div class="rate-item">
                  <div class="choose-this">
                    <input type="radio" name="one-star" id="" />
                  </div>
                  <div class="rate-stars">
                    <svg
                      v-for="x in 5"
                      :key="x + 'a'"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#f6b01e"
                      width="16"
                      height="12"
                    >
                      <path
                        d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                      />
                    </svg>
                  </div>
                </div>

                <div class="rate-item">
                  <div class="choose-this">
                    <input type="radio" name="one-star" id="" />
                  </div>
                  <div class="rate-stars">
                    <svg
                      v-for="x in 4"
                      :key="x + 'b'"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#f6b01e"
                      width="16"
                      height="12"
                    >
                      <path
                        d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#c7c7cd"
                      width="16"
                      height="12"
                    >
                      <path
                        d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                      />
                    </svg>
                  </div>
                </div>

                <div class="rate-item">
                  <div class="choose-this">
                    <input type="radio" name="one-star" id="" />
                  </div>
                  <div class="rate-stars">
                    <svg
                      v-for="x in 3"
                      :key="x + 'c'"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#f6b01e"
                      width="16"
                      height="12"
                    >
                      <path
                        d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                      />
                    </svg>
                    <svg
                      v-for="x in 2"
                      :key="x + 'd'"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#c7c7cd"
                      width="16"
                      height="12"
                    >
                      <path
                        d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                      />
                    </svg>
                  </div>
                </div>

                <div class="rate-item">
                  <div class="choose-this">
                    <input type="radio" name="one-star" id="" />
                  </div>
                  <div class="rate-stars">
                    <svg
                      v-for="x in 2"
                      :key="x + 'e'"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#f6b01e"
                      width="16"
                      height="12"
                    >
                      <path
                        d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                      />
                    </svg>
                    <svg
                      v-for="x in 3"
                      :key="x + 'f'"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#c7c7cd"
                      width="16"
                      height="12"
                    >
                      <path
                        d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                      />
                    </svg>
                  </div>
                </div>

                <div class="rate-item">
                  <div class="choose-this">
                    <input type="radio" name="one-star" id="" />
                  </div>
                  <div class="rate-stars">
                    <svg
                      v-for="x in 1"
                      :key="x + 'h'"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#f6b01e"
                      width="16"
                      height="12"
                    >
                      <path
                        d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                      />
                    </svg>
                    <svg
                      v-for="x in 4"
                      :key="x + 'j'"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="#c7c7cd"
                      width="16"
                      height="12"
                    >
                      <path
                        d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="filter-rateing filter-brand">
                <h4>اشركة المنتجة</h4>
                <div class="rate-item">
                  <div class="choose-this">
                    <input type="radio" name="one-star" id="" />
                  </div>
                  <div class="rate-stars brand-name">
                    <h6>سامسونج</h6>
                  </div>
                </div>
                <div class="rate-item">
                  <div class="choose-this">
                    <input type="radio" name="one-star" id="" />
                  </div>
                  <div class="rate-stars brand-name">
                    <h6>امازون</h6>
                  </div>
                </div>
                <div class="rate-item">
                  <div class="choose-this">
                    <input type="radio" name="one-star" id="" />
                  </div>
                  <div class="rate-stars brand-name">
                    <h6>ابل</h6>
                  </div>
                </div>
                <div class="rate-item">
                  <div class="choose-this">
                    <input type="radio" name="one-star" id="" />
                  </div>
                  <div class="rate-stars brand-name">
                    <h6>شاومي</h6>
                  </div>
                </div>
              </div>

              <div class="filter-priceing">
                <h4>السعر</h4>
                <div
                  class="price-range"
                  style="text-align: center; width:90%; margin:auto"
                >
                  <vs-slider step="1" max="10000" v-model="filterPrice" />
                </div>
                <div class="price-show">
                  <div class="priceing">
                    <input
                      type="text"
                      disabled
                      name=""
                      id=""
                      v-model="filterPrice[0]"
                    />
                    <span> :: </span>
                    <input
                      type="text"
                      disabled
                      name=""
                      id=""
                      v-model="filterPrice[1]"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="cards-sections">
              <div class="product-cards">
                <div class="row">
                  <div class="col-md-4">
                    <div class="product-card">
                      <div class="pro-image">
                        <img
                          src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590766349/glu9k1ufllx8ipqud96j.jpg"
                          alt=""
                        />
                      </div>
                      <div class="pro-desc">
                        <h6>البيبي الصغير</h6>
                        <p>البيبي الصغير</p>
                      </div>
                      <div class="pro-offers">
                        <div class="new-offer">
                          <h6>
                            <span
                              style="font-size: 11px;margin-left: 3px;color: #febe06;"
                              >SR</span
                            >
                            <span style="display: inline-block;float: left;"
                              >57</span
                            >
                          </h6>
                        </div>
                        <div class="old-offer">
                          <div class="star-count ">
                            <svg
                              v-for="x in 3"
                              :key="x + 'c'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#f6b01e"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                            <svg
                              v-for="x in 2"
                              :key="x + 'd'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#c7c7cd"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="last-offer">
                          <div>
                            <h6>
                              100
                              <span
                                style="display: inline-block;float: right;padding-left: 2px;"
                                >SR</span
                              >
                            </h6>
                          </div>
                          <div><h6>-20%</h6></div>
                        </div>
                      </div>
                      <div class="pro-btns">
                        <button @click.self="lovedProduct">
                          <i class="far fa-heart"></i> اعجبني
                        </button>
                        <button @click.self="addCart">
                          <i class="fas fa-cart-plus"></i> اضف الي السلة
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="product-card">
                      <div class="pro-image">
                        <img
                          src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590764804/mrch8jsom876a6uhvnuf.jpg"
                          alt=""
                        />
                      </div>
                      <div class="pro-desc">
                        <h6>صلصال ألوان</h6>
                        <p>صلصال ألوان</p>
                      </div>
                      <div class="pro-offers">
                        <div class="new-offer">
                          <h6>
                            <span
                              style="font-size: 11px;margin-left: 3px;color: #febe06;"
                              >SR</span
                            >
                            <span style="display: inline-block;float: left;"
                              >29</span
                            >
                          </h6>
                        </div>
                        <div class="old-offer">
                          <div class="star-count ">
                            <svg
                              v-for="x in 5"
                              :key="x + 'c'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#f6b01e"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                            <svg
                              v-for="x in 0"
                              :key="x + 'd'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#c7c7cd"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="last-offer">
                          <div>
                            <h6>
                              100
                              <span
                                style="display: inline-block;float: right;padding-left: 2px;"
                                >SR</span
                              >
                            </h6>
                          </div>
                          <div><h6>-20%</h6></div>
                        </div>
                      </div>
                      <div class="pro-btns">
                        <button @click.self="lovedProduct">
                          <i class="far fa-heart"></i> اعجبني
                        </button>
                        <button @click.self="addCart">
                          <i class="fas fa-cart-plus"></i> اضف الي السلة
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="product-card">
                      <div class="pro-image">
                        <img
                          src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767583/aagzy6ydysej2xmrs7o5.jpg"
                          alt=""
                        />
                      </div>
                      <div class="pro-desc">
                        <h6>كفر سباحة</h6>
                        <p>كفر سباحة</p>
                      </div>
                      <div class="pro-offers">
                        <div class="new-offer">
                          <h6>
                            <span
                              style="font-size: 11px;margin-left: 3px;color: #febe06;"
                              >SR</span
                            >
                            <span style="display: inline-block;float: left;"
                              >16</span
                            >
                          </h6>
                        </div>
                        <div class="old-offer">
                          <div class="star-count ">
                            <svg
                              v-for="x in 5"
                              :key="x + 'c'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#f6b01e"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                            <svg
                              v-for="x in 0"
                              :key="x + 'd'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#c7c7cd"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="last-offer">
                          <div>
                            <h6>
                              100
                              <span
                                style="display: inline-block;float: right;padding-left: 2px;"
                                >SR</span
                              >
                            </h6>
                          </div>
                          <div><h6>-20%</h6></div>
                        </div>
                      </div>
                      <div class="pro-btns">
                        <button @click.self="lovedProduct">
                          <i class="far fa-heart"></i> اعجبني
                        </button>
                        <button @click.self="addCart">
                          <i class="fas fa-cart-plus"></i> اضف الي السلة
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="product-card">
                      <div class="pro-image">
                        <img
                          src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590766349/glu9k1ufllx8ipqud96j.jpg"
                          alt=""
                        />
                      </div>
                      <div class="pro-desc">
                        <h6>كفر سباحة</h6>
                        <p>كفر سباحة الألوان المتاحة: أسود</p>
                      </div>
                      <div class="pro-offers">
                        <div class="new-offer">
                          <h6>
                            <span
                              style="font-size: 11px;margin-left: 3px;color: #febe06;"
                              >SR</span
                            >
                            <span style="display: inline-block;float: left;"
                              >16</span
                            >
                          </h6>
                        </div>
                        <div class="old-offer">
                          <div class="star-count ">
                            <svg
                              v-for="x in 3"
                              :key="x + 'c'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#f6b01e"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                            <svg
                              v-for="x in 2"
                              :key="x + 'd'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#c7c7cd"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="last-offer">
                          <div>
                            <h6>
                              100
                              <span
                                style="display: inline-block;float: right;padding-left: 2px;"
                                >SR</span
                              >
                            </h6>
                          </div>
                          <div><h6>-20%</h6></div>
                        </div>
                      </div>
                      <div class="pro-btns">
                        <button @click.self="lovedProduct">
                          <i class="far fa-heart"></i> اعجبني
                        </button>
                        <button @click.self="addCart">
                          <i class="fas fa-cart-plus"></i> اضف الي السلة
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="product-card">
                      <div class="pro-image">
                        <img
                          src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590820996/mh2ijkwhg0hlarum4nwy.jpg"
                          alt=""
                        />
                      </div>
                      <div class="pro-desc">
                        <h6>محبس أطفال بطاولة غيار وألعاب</h6>
                        <p>محبس أطفال بطاولة غيار وألعاب</p>
                      </div>
                      <div class="pro-offers">
                        <div class="new-offer">
                          <h6>
                            <span
                              style="font-size: 11px;margin-left: 3px;color: #febe06;"
                              >SR</span
                            >
                            <span style="display: inline-block;float: left;"
                              >450</span
                            >
                          </h6>
                        </div>
                        <div class="old-offer">
                          <div class="star-count ">
                            <svg
                              v-for="x in 3"
                              :key="x + 'c'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#f6b01e"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                            <svg
                              v-for="x in 2"
                              :key="x + 'd'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#c7c7cd"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="last-offer">
                          <div>
                            <h6>
                              100
                              <span
                                style="display: inline-block;float: right;padding-left: 2px;"
                                >SR</span
                              >
                            </h6>
                          </div>
                          <div><h6>-20%</h6></div>
                        </div>
                      </div>
                      <div class="pro-btns">
                        <button @click.self="lovedProduct">
                          <i class="far fa-heart"></i> اعجبني
                        </button>
                        <button @click.self="addCart">
                          <i class="fas fa-cart-plus"></i> اضف الي السلة
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="product-card">
                      <div class="pro-image">
                        <img
                          src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767675/rwjl8oylu1nrud0aie9h.jpg"
                          alt=""
                        />
                      </div>
                      <div class="pro-desc">
                        <h6>نظارة سباحة</h6>
                        <p>نظارة سباحة</p>
                      </div>
                      <div class="pro-offers">
                        <div class="new-offer">
                          <h6>
                            <span
                              style="font-size: 11px;margin-left: 3px;color: #febe06;"
                              >SR</span
                            >
                            <span style="display: inline-block;float: left;"
                              >7</span
                            >
                          </h6>
                        </div>
                        <div class="old-offer">
                          <div class="star-count ">
                            <svg
                              v-for="x in 5"
                              :key="x + 'c'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#f6b01e"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                            <svg
                              v-for="x in 0"
                              :key="x + 'd'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#c7c7cd"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="last-offer">
                          <div>
                            <h6>
                              100
                              <span
                                style="display: inline-block;float: right;padding-left: 2px;"
                                >SR</span
                              >
                            </h6>
                          </div>
                          <div><h6>-20%</h6></div>
                        </div>
                      </div>
                      <div class="pro-btns">
                        <button @click.self="lovedProduct">
                          <i class="far fa-heart"></i> اعجبني
                        </button>
                        <button @click.self="addCart">
                          <i class="fas fa-cart-plus"></i> اضف الي السلة
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="product-card">
                      <div class="pro-image">
                        <img
                          src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590906658/liej84izlzsuivuh6e6i.jpg"
                          alt=""
                        />
                      </div>
                      <div class="pro-desc">
                        <h6>6390</h6>
                        <p>الصنف : 6390 المقاس: 2-5 6-9 10-14</p>
                      </div>
                      <div class="pro-offers">
                        <div class="new-offer">
                          <h6>
                            <span
                              style="font-size: 11px;margin-left: 3px;color: #febe06;"
                              >SR</span
                            >
                            <span style="display: inline-block;float: left;"
                              >89</span
                            >
                          </h6>
                        </div>
                        <div class="old-offer">
                          <div class="star-count ">
                            <svg
                              v-for="x in 3"
                              :key="x + 'c'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#f6b01e"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                            <svg
                              v-for="x in 2"
                              :key="x + 'd'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#c7c7cd"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="last-offer">
                          <div>
                            <h6>
                              100
                              <span
                                style="display: inline-block;float: right;padding-left: 2px;"
                                >SR</span
                              >
                            </h6>
                          </div>
                          <div><h6>-20%</h6></div>
                        </div>
                      </div>
                      <div class="pro-btns">
                        <button @click.self="lovedProduct">
                          <i class="far fa-heart"></i> اعجبني
                        </button>
                        <button @click.self="addCart">
                          <i class="fas fa-cart-plus"></i> اضف الي السلة
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="product-card">
                      <div class="pro-image">
                        <img
                          src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590764197/bdnm1wyvzjwpp7gp1b0e.jpg"
                          alt=""
                        />
                      </div>
                      <div class="pro-desc">
                        <h6>أكتب وامسح الحروف العربية</h6>
                        <p>أكتب وامسح الحروف العربية</p>
                      </div>
                      <div class="pro-offers">
                        <div class="new-offer">
                          <h6>
                            <span
                              style="font-size: 11px;margin-left: 3px;color: #febe06;"
                              >SR</span
                            >
                            <span style="display: inline-block;float: left;"
                              >15</span
                            >
                          </h6>
                        </div>
                        <div class="old-offer">
                          <div class="star-count ">
                            <svg
                              v-for="x in 3"
                              :key="x + 'c'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#f6b01e"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                            <svg
                              v-for="x in 2"
                              :key="x + 'd'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#c7c7cd"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="last-offer">
                          <div>
                            <h6>
                              100
                              <span
                                style="display: inline-block;float: right;padding-left: 2px;"
                                >SR</span
                              >
                            </h6>
                          </div>
                          <div><h6>-20%</h6></div>
                        </div>
                      </div>
                      <div class="pro-btns">
                        <button @click.self="lovedProduct">
                          <i class="far fa-heart"></i> اعجبني
                        </button>
                        <button @click.self="addCart">
                          <i class="fas fa-cart-plus"></i> اضف الي السلة
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="product-card">
                      <div class="pro-image">
                        <img
                          src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590864959/jjotln1lsjjmaigbodyu.jpg"
                          alt=""
                        />
                      </div>
                      <div class="pro-desc">
                        <h6>ألعاب حوض سمك</h6>
                        <p>ألعاب حوض سمك</p>
                      </div>
                      <div class="pro-offers">
                        <div class="new-offer">
                          <h6>
                            <span
                              style="font-size: 11px;margin-left: 3px;color: #febe06;"
                              >SR</span
                            >
                            <span style="display: inline-block;float: left;"
                              >279</span
                            >
                          </h6>
                        </div>
                        <div class="old-offer">
                          <div class="star-count ">
                            <svg
                              v-for="x in 3"
                              :key="x + 'c'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#f6b01e"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                            <svg
                              v-for="x in 2"
                              :key="x + 'd'"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="#c7c7cd"
                              width="16"
                              height="12"
                            >
                              <path
                                d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="last-offer">
                          <div>
                            <h6>
                              100
                              <span
                                style="display: inline-block;float: right;padding-left: 2px;"
                                >SR</span
                              >
                            </h6>
                          </div>
                          <div><h6>-20%</h6></div>
                        </div>
                      </div>
                      <div class="pro-btns">
                        <button @click.self="lovedProduct">
                          <i class="far fa-heart"></i> اعجبني
                        </button>
                        <button @click.self="addCart">
                          <i class="fas fa-cart-plus"></i> اضف الي السلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="paginations">
        <div>
          <vs-pagination :total="40" v-model="currentx"></vs-pagination>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Progress from "../components/progress/Progess.vue";
import Footer from "../components/Footer";
import Navbar from "../components/Navbar";
export default {
  components: {
    Progress,
    Footer,
    Navbar
  },
  data() {
    return {
      filterPrice: [0, 10000],

      currentx: 14,
      filterCheckbox: []
    };
  },
  methods: {
    lovedProduct: function(e) {
      console.log(e.target.children[0].classList.contains("far"));
      if (e.target.children[0].classList.contains("far")) {
        e.target.children[0].classList.remove("far");
        e.target.children[0].classList.add("fas");
      } else {
        e.target.children[0].classList.remove("fas");
        e.target.children[0].classList.add("far");
      }
    },
    addCart: function(e) {
      e.target.classList.toggle("carted");
      if (e.target.classList.contains("carted")) {
        e.target.innerHTML = " <i class='fas fa-trash-alt'></i> حذف من السلة";
      } else {
        e.target.innerHTML = " <i class='fas fa-cart-plus'></i> أضف الي السلة";
      }
    }
  },
  watch: {
    filterCheckbox: function(val) {
      if (val == "clothes") {
        document.querySelector(
          ".first-sub-cate .games-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .child-helpers-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .mothers-helpers-categories"
        ).style.display = "none";

        document.querySelector(
          ".first-sub-cate .clothes-categories"
        ).style.display = "block";
      } else if (val == "games") {
        document.querySelector(
          ".first-sub-cate .clothes-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .child-helpers-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .mothers-helpers-categories"
        ).style.display = "none";

        document.querySelector(
          ".first-sub-cate .games-categories"
        ).style.display = "block";
      } else if (val == "childshelpers") {
        document.querySelector(
          ".first-sub-cate .clothes-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .games-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .mothers-helpers-categories"
        ).style.display = "none";

        document.querySelector(
          ".first-sub-cate .child-helpers-categories"
        ).style.display = "block";
      } else if (val == "mothershelpers") {
        document.querySelector(
          ".first-sub-cate .clothes-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .child-helpers-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .games-categories"
        ).style.display = "none";

        document.querySelector(
          ".first-sub-cate .mothers-helpers-categories"
        ).style.display = "block";
      } else {
        document.querySelector(
          ".first-sub-cate .clothes-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .child-helpers-categories"
        ).style.display = "none";
        document.querySelector(
          ".first-sub-cate .games-categories"
        ).style.display = "none";

        document.querySelector(
          ".first-sub-cate .mothers-helpers-categories"
        ).style.display = "none";
      }
    }
  }
};
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}

* {
  direction: $dir;
  text-align: $left;
}

.paginations {
  margin: 20px 0 0;
  .vs-pagination--ul {
    margin-bottom: 0 !important;
  }
  .effect {
    background: #febe06 !important;
  }
  .vs-pagination-primary .effect,
  .vs-pagination-primary .vs-pagination--buttons:hover {
    background: #febe06 !important;
  }
}

input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 90%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #ddd;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #333333;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #febe06;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ddd;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #ddd;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #333333;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #febe06;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #ddd;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #333333;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #febe06;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ddd;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ddd;
}

.cards {
  background: #f5f5f5;
  .cards-grid {
    padding-top: 102px;
    .cards-filter,
    .cards-sections {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 15px 0;
    }
    .cards-filter {
      > div {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      h4,
      h6 {
        padding-right: 10px;
      }
      ul {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        a {
          color: #000;
          li {
            padding: 4px 20px;
            &:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }
      .filter-rateing {
        overflow: hidden;
      }
      .con-vs-slider {
        min-width: 180px;
      }
      .vs-slider-primary .vs-slider-line-one {
        background: #febe06;
      }
      .vs-slider-primary .vs-circles-slider {
        border-color: #febe06;
      }
      .vs-slider-primary .text-circle-slider,
      .vs-slider-primary .vs-slider-line-efect {
        background-color: #febe06;
      }
      .price-show {
        overflow: hidden;
        .priceing {
          overflow: hidden;
          margin: auto;
          text-align: center;
          width: 75%;
          > input {
            display: block;
            width: 43%;
            float: $left;
          }
          span {
            display: block;
            width: 23px;
            float: $left;
            text-align: center;
            font-size: 19px;
            color: #febe06;
            font-weight: bold;
          }
        }
      }
    }
  }
  .product-cards {
    padding: 10px 10px;
    .product-card {
      &:hover {
        transition: all 0.8s linear;
        transform: translate(0, -2px);
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px #eee;
      }
      margin-bottom: 26px;
      border-radius: 0 0 15px 15px;
      overflow: hidden;
      box-shadow: 4px 8px 9px -8px #c1c0c0;
      padding-top: 19px;
      border: 1px solid #ececec;
      .pro-image {
        padding: 0 10px;
        height: 150px;
        text-align: center;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .pro-desc {
        padding: 0 10px;
        margin-top: 15px;
        h6,
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-bottom: 0;
        }
        p {
          color: #c7c7c7;
          font-size: 12px;
          padding: 0 8px 6px;
        }
      }
      .pro-offers {
        overflow: hidden;
        > div {
          float: $left;
          h6 {
            display: inline-block;
            padding: 6px;
          }
        }
        .new-offer {
          width: 40%;
          span {
            font-weight: bold;
          }
          h6 {
            border-radius: 6px;
          }
        }
        .old-offer {
          width: 60%;

          .star-count {
            text-align: $right;
            margin-left: 12px;
          }
        }
        .last-offer {
          width: 100%;
          overflow: hidden;
          > div {
            float: $left;
          }
          div {
            &:first-of-type {
              h6 {
                text-decoration: line-through;
                color: #a0a0a0;
                font-size: 13px;
              }
            }
            &:last-of-type {
              width: 30%;
              float: $left;
              h6 {
                background: #feefde;
                font-size: 11px;
                font-weight: 600;
                color: #f68d1e;
              }
            }
          }
        }
      }
      .pro-btns {
        button {
          display: block;
          text-align: center;
          outline: none;
          border: none;
          width: 50%;
          float: $left;
          padding: 10px;
          &:first-of-type {
            background-color: #f6f6f6;
            color: #2c2c2c;
          }
          &:last-of-type {
            background-color: #febe06;
          }
        }
      }
    }
  }

  .rate-item {
    overflow: hidden;
    margin-top: 0;
    .choose-this {
      width: 43px;
      float: right;
      text-align: center;
      padding-top: 1;
      border-radius: 50%;
      border: 1px solid #fff;
      height: 36px;
      width: 38px;
      line-height: 49px;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgba(246, 139, 30, 0.15);
        cursor: pointer;
      }
      input {
        -webkit-appearance: none;
        border: 2px solid #ddd;
        padding: 10px;
        outline: none;
        border-radius: 43%;
        &:hover {
          cursor: pointer;
        }
        &:checked {
          border: 2px solid #febe06;
          position: relative;
          &::after {
            padding: 7px;
            background-color: #febe06;
            position: absolute;
            top: 3px;
            left: 3px;
            content: "";
            border-radius: 50%;
          }
        }
      }
    }

    .rate-stars {
      height: 35px;
      line-height: 35px;
      h6 {
        padding-top: 9px;
        padding-right: 1px;
      }
    }
    > div {
      width: 50%;
      float: $left;
    }
    .brand-name {
      h6 {
        padding-top: 8px;
        padding-right: 0;
      }
    }
  }

  .first-sub-cate {
    > div {
      display: none;
    }
  }
  .carted {
    background: #f85056 !important;
    color: #fff;
  }
  .fa-trash-alt {
    color: #fff;
  }
  i.fa-heart.fas {
    color: #f85056;
  }
}
</style>
