<template>
  <div class="cart">
    <Navbar />
    <div class="container">
      <form-wizard
        @on-complete="onComplete"
        title="بيانات استكمال الشراء"
        subtitle="يتم استكمال الشراء ببعض البيانات لضمان حفظ  الحقوق"
        shape="tab"
        back-button-text="السابق"
        next-button-text="استكمال الطلب"
        finish-button-text="We're there"
        color="#ffba00"
      >
        <tab-content title="المنتاجات" icon="fas fa-shopping-cart">
          <div class="cart-content">
            <div class="row">
              <div class="col-md-9 ">
                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590820996/mh2ijkwhg0hlarum4nwy.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>محبس أطفال بطاولة غيار وألعاب</h4>
                    <span>مستلزمات الطفل</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>450 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767675/rwjl8oylu1nrud0aie9h.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>نظارة سباحة</h4>
                    <span>العاب</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>7 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767583/aagzy6ydysej2xmrs7o5.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>كفر سباحة</h4>
                    <span>ألعاب</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>16 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590864959/jjotln1lsjjmaigbodyu.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>ألعاب حوض سمك</h4>
                    <span>العاب</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>52 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590764197/bdnm1wyvzjwpp7gp1b0e.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>أكتب وامسح الحروف العربية</h4>
                    <span>ألعاب</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>15 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590746910/s6cxzcott6lhncscc1vt.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>1100</h4>
                    <span>ملابس</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>59 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590744342/w6vbjdc5tk6h56l2fgth.png"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>ملابس أطفال</h4>
                    <span>ملابس</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>59 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590906658/liej84izlzsuivuh6e6i.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>6390</h4>
                    <span>ملابس</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>89 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590764804/mrch8jsom876a6uhvnuf.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>صلصال ألوان</h4>
                    <span>العاب</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>29 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cart-item">
                  <div class="cart-img">
                    <img
                      src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590766349/glu9k1ufllx8ipqud96j.jpg"
                      alt=""
                    />
                  </div>
                  <div class="cart-desc">
                    <h4>البيبي الصغير</h4>
                    <span>العاب</span>
                    <div class="centerx" style="width: 128px;">
                      <vs-input-number color="warning" v-model="number3" />
                    </div>
                  </div>
                  <div class="cart-details">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>

                      <div class="cart-price">
                        <h3>57 <span>SR</span></h3>
                      </div>
                      <div class="cart-operations">
                        <button>
                          <i class="fas fa-trash-alt"></i> حذف من السلة
                        </button>
                        <button @click.self="addCart">
                          <i class="far fa-heart"></i> اضف الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="visita">
                  <h4>تفاصيل الطلب</h4>
                  <div class="cart-number">
                    <div class="row">
                      <div class="col-md-8 col-8">
                        <div class="visita-cart-name">
                          <span>عدد المنتاجات</span>
                        </div>
                      </div>
                      <div class="col-md-4 col-4">
                        <div class="visita-cart-name">
                          <span>10</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="cart-number">
                    <div class="row">
                      <div class="col-md-8 col-8">
                        <div class="visita-cart-name">
                          <span>سعر المنتاجات</span>
                        </div>
                      </div>
                      <div class="col-md-4 col-4">
                        <div class="visita-cart-name">
                          <span>100</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="cart-number" style="margin-bottom:0;">
                    <div class="row">
                      <div class="col-md-8 col-8">
                        <div class="visita-cart-name">
                          <span>ضريبة القيمة المضافة</span>
                        </div>
                      </div>
                      <div class="col-md-4 col-4">
                        <div class="visita-cart-name">
                          <span>11</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="cart-hint">
                    <p>
                      * ملحوظة : سيتم اضافة تكلفة خدمة التوصيل على اساس مكان طلب
                      الخدمة
                    </p>
                  </div>

                  <div class="cart-number last-item" style="font-weight:bold;">
                    <div class="row">
                      <div class="col-md-8 col-8">
                        <div class="visita-cart-name">
                          <span>السعر النهائي</span>
                        </div>
                      </div>
                      <div class="col-md-4 col-4">
                        <div class="visita-cart-name">
                          <span
                            >111
                            <span
                              style="float: right;font-size: 11px;padding: 5px 0;margin-left: 4px;"
                            >
                              SR</span
                            ></span
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="cart-btns" style="margin-bottom:0;">
                    <button>استكمال الطلب</button>
                    <button>استكمال التسوق</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab-content>
        <tab-content title="البيانات أستكمال الشراء" icon="fas fa-user-edit">
          <div class="order-personal-info">
            <div class="row">
              <div class="col-md-9">
                <form>
                  <h4>من فضلك ادخل البيانات المطلوبة</h4>
                  <div class="form-contant">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="centerx">
                          <vs-input
                            label-placeholder="رقم الهاتف"
                            color="warning"
                            v-model="value1"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="con-select-example">
                          <select name="" id="" style="width: 100%;padding: 8px;margin-top: 18px;border: 1px solid #ccc;color: #cdcdcd;">
                              <option value="" selected>المدينة</option>
                              <option value="" >مكة</option>

                              <option value="" >جدة</option>

                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="centerx">
                          <vs-input
                            label-placeholder="رقم الهاتف"
                            color="warning"
                            v-model="value1"
                          />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="centerx">
                          <vs-input
                            label-placeholder="رقم الهاتف"
                            color="warning"
                            v-model="value1"
                          />
                        </div>
                      </div>

                       <div class="col-md-6">
                        <div class="centerx">
                          <vs-input
                            label-placeholder="كوبون الخصك"
                            color="warning"
                            v-model="value1"
                          />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="con-select-example">
                          <select name="" id="" style="width: 100%;padding: 8px;margin-top: 18px;border: 1px solid #ccc;color: #cdcdcd;">
                              <option value="" selected>المدينة</option>
                              <option value="" >مكة</option>

                              <option value="" >جدة</option>

                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="col-md-3">
                <div class="order-small-info">
                  <div class="info-small-item">
                    <h6>الملاحظات</h6>
                  </div>
                  <div class="info-small-item">
                    <h6>المدينة</h6>
                  </div>
                  <div class="info-small-item">
                    <h6>رقم الهاتف</h6>
                  </div>
                  <div class="info-small-item">
                    <h6>العنوان</h6>
                  </div>
                  <div class="info-small-item">
                    <h6>طريقة التوصيل</h6>
                  </div>
                  <div class="info-small-item">
                    <div>
                      <h6>سعر المنتاجات</h6>
                    </div>
                    <div>
                      <h6>555 <span>SR</span></h6>
                    </div>
                  </div>

                  <div class="info-small-item">
                    <div>
                      <h6>السعر النهائي</h6>
                      <p class="lead">هذا السعر بعد اضافة القيمة المضافة</p>
                    </div>
                    <div>
                      <h6>555 <span>SR</span></h6>
                    </div>
                  </div>
                  <div class="info-small-item">
                    <p>
                      * ملحوظة : سيتم اضافة تكلفة خدمة التوصيل 15 ريال داخل
                      الرياض باقى مناطق المملكة 19ريال وتوصيل الملابس مجانا
                    </p>
                  </div>

                  <button>تأكيد الطلب</button>
                </div>
              </div>
            </div>
          </div>
        </tab-content>
      </form-wizard>
    </div>
    <Footer />
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";

import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";

export default {
  components: {
    Navbar,
    Footer,
    FormWizard,
    TabContent
  },
  methods: {
    addCart: function(e) {
      e.target.classList.toggle("carted");
      if (e.target.classList.contains("carted")) {
        e.target.innerHTML = " <i class='fas fa-trash-alt'></i> حذف من المفضلة";
      } else {
        e.target.innerHTML = " <i class='far fa-heart'></i> أضف الي المفضلة";
      }
    },
    lovedProduct: function(e) {
      console.log(e.target.children[0].classList.contains("far"));
      if (e.target.children[0].classList.contains("far")) {
        e.target.children[0].classList.remove("far");
        e.target.children[0].classList.add("fas");
      } else {
        e.target.children[0].classList.remove("fas");
        e.target.children[0].classList.add("far");
      }
    }
  },
  data() {
    return {
      number3: 1,
      currentx: 0,
      
    };
  }
};
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}

* {
  direction: $dir;
  text-align: $left;
}
.paginations {
  margin: 20px 0 0;
  .vs-pagination--ul {
    margin-bottom: 0 !important;
  }
  .effect {
    background: #febe06 !important;
  }
  .vs-pagination-primary .effect,
  .vs-pagination-primary .vs-pagination--buttons:hover {
    background: #febe06 !important;
  }
}
.carted {
  background: red !important;
  color: #fff !important;
}
.cart {
  .vue-form-wizard .wizard-tab-content {
    background: #eee;
    min-height: 600px;
  }
  .vue-form-wizard {
    padding-top: 102px !important;
  }
  background-color: #f5f5f5;
  .cart-content {
    .cart-item,
    .visita {
      background-color: #fff;
      padding: 10px;
      border: 1px solid #eee;
    }
    .cart-item {
      margin-bottom: 10px;
      overflow: hidden;
      .cart-img {
        width: 20%;
        float: $left;
        padding-left: 10px;
        border-left: 1px solid #d4d4d4;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .cart-desc {
        width: 60%;
        float: $left;
        padding: 0 10px;
        .vs-input-number .vs-input-number--input {
          width: 200px;
        }
        .vs-input-number.vs-input-number-size-null.vs-input-number-warning {
          direction: ltr !important;
        }
      }
      .cart-details {
        width: 20%;
        float: $left;
        padding-right: 10px;
        border-right: 1px solid #d4d4d4;
        .star-count {
          text-align: $right;
          .rating-count {
            color: #c1c1c1;
            text-align: $right;
          }
          .cart-price {
            h3 {
              text-align: center;
              font-size: 22px;
              margin: 10px;
              span {
                color: #9c9c9c;
                font-size: 15px;
              }
            }
          }
          .cart-operations {
            button {
              width: 100%;
              text-align: center;
              background: #febe06;
              color: #fff;
              border: none;
              padding: 2px;
              padding: 5px;
              box-shadow: 3px 2px 5px 1px #ececec;
              outline: none;
              border-radius: 5px;
              &:first-of-type {
                background-color: #ddd;
                color: #000;
                margin-bottom: 6px;
                padding: 5px;
              }
            }
          }
        }
      }
    }
    .visita {
      .cart-number {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
    }

    .cart-number.last-item {
      background: #efefef;
      padding: 10px;
      margin-bottom: 0;
    }
    .cart-hint {
      color: #febe06;
      margin-top: 15px;
      p {
        text-align: center;
      }
    }
    .cart-btns {
      margin-bottom: 0px;
      border-top: 1px solid #eee;
      padding-top: 10px;
      margin-top: 10px;
      button {
        width: 100%;
        text-align: center;
        padding: 5px;
        border: none;
        margin-bottom: 3px;
        outline: none;

        &:first-of-type {
          background: #febd01;
          color: #fff;
          border-radius: 6px;
          box-shadow: 4px -3px 8px 4px #ecb10336;
        }
        &:last-of-type {
          background: #333;
          color: #fff;
          border-radius: 6px;
          box-shadow: 4px -3px 8px 4px #ecb10336;
        }
      }
    }
  }
  .order-personal-info {
    padding: 60px 25px;
    form {
      background: #fff;
      /* border-radius: 14px; */
      box-shadow: 4px 2px 14px 7px #eee;
      margin-bottom: 20px;
      border: 1px dashed #c1c1c1;
      padding: 5px;
      .form-contant {
        padding: 39px 9px;
      }
      h4 {
        padding: 20px 10px;
        background: #f3f3f3;
        position: relative;
        &::after {
          background: linear-gradient(
            to right,
            #2980b9 20%,
            #27ae60 20%,
            #27ae60 40%,
            #d35400 40%,
            #d35400 60%,
            #8e44ad 60%,
            #8e44ad 80%,
            #c0392b 80%
          );
          position: absolute;
          content: "";
          height: 4px;
          right: 0;
          left: 0;
          bottom: -3px;
        }
      }
      .vs-component.vs-con-input-label.vs-input.is-label-placeholder {
        width: 100%;
      }
      .con-select.selectExample.autocompletex {
        width: 100%;
      }
    }
  }
  .order-small-info {
    background: #fff;
    padding: 10px;
    box-shadow: 4px 4px 12px 7px #efefef;
    button {
      background: #ffba00;
      border-radius: 8px;
      border: 1px solid transparent;
      color: #fff;
      border: none;
      width: 100%;
      text-align: center;
      padding: 5px;
      transition: all 0.5s linear;
      outline: none;
      box-shadow: 2px 3px 5px 3px #ffba0070;
      &:hover {
        background: #d39200;
        box-shadow: 2px 3px 5px 3px #ffba0070;
      }
    }
    .info-small-item {
      overflow: hidden;
      border-bottom: 1px solid #eee;
      padding: 1px;

      p {
        font-size: 11px;
        color: #969696;
      }
      div {
        width: 30%;
        float: $left;
        span {
          float: $left;
          font-size: 12px;
          padding: 4px;
          color: #9c9c9c;
          font-weight: bold;
        }
        &:first-of-type {
          width: 70%;
          float: $left;
        }
      }
    }
  }
}
</style>
