<template>
  <div class="favorite">
    <Navbar />
    <div class="container">
      <div class="favorite-products">
        <div class="prods">
          <h4>قائمتي المفضلة</h4>
          <div class="prods-border">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="product-card">
                <div class="pro-image">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590766349/glu9k1ufllx8ipqud96j.jpg"
                    alt=""
                  />
                </div>
                <div class="pro-desc">
                  <h6>البيبي الصغير</h6>
                  <p>البيبي الصغير</p>
                </div>
                <div class="pro-offers">
                  <div class="new-offer">
                    <h6>
                      <span
                        style="font-size: 11px;margin-left: 3px;color: #febe06;"
                        >SR</span
                      >
                      <span style="display: inline-block;float: left;">57</span>
                    </h6>
                  </div>
                  <div class="old-offer">
                    <div class="star-count ">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="last-offer">
                    <div>
                      <h6>
                        100
                        <span
                          style="display: inline-block;float: right;padding-left: 2px;"
                          >SR</span
                        >
                      </h6>
                    </div>
                    <div><h6>-20%</h6></div>
                  </div>
                </div>
                <div class="pro-btns">
                  <button @click.self="lovedProduct">
                    <i class="fas fa-trash-alt"></i> حذف من المفضلة
                  </button>
                  <button @click.self="addCart">
                    <i class="fas fa-cart-plus"></i> اضف الي السلة
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="product-card">
                <div class="pro-image">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590764804/mrch8jsom876a6uhvnuf.jpg"
                    alt=""
                  />
                </div>
                <div class="pro-desc">
                  <h6>صلصال ألوان</h6>
                  <p>صلصال ألوان</p>
                </div>
                <div class="pro-offers">
                  <div class="new-offer">
                    <h6>
                      <span
                        style="font-size: 11px;margin-left: 3px;color: #febe06;"
                        >SR</span
                      >
                      <span style="display: inline-block;float: left;">29</span>
                    </h6>
                  </div>
                  <div class="old-offer">
                    <div class="star-count ">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="last-offer">
                    <div>
                      <h6>
                        100
                        <span
                          style="display: inline-block;float: right;padding-left: 2px;"
                          >SR</span
                        >
                      </h6>
                    </div>
                    <div><h6>-20%</h6></div>
                  </div>
                </div>
                <div class="pro-btns">
                  <button @click.self="lovedProduct">
                    <i class="fas fa-trash-alt"></i> حذف من المفضلة
                  </button>
                  <button @click.self="addCart">
                    <i class="fas fa-cart-plus"></i> اضف الي السلة
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="product-card">
                <div class="pro-image">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767583/aagzy6ydysej2xmrs7o5.jpg"
                    alt=""
                  />
                </div>
                <div class="pro-desc">
                  <h6>كفر سباحة</h6>
                  <p>كفر سباحة</p>
                </div>
                <div class="pro-offers">
                  <div class="new-offer">
                    <h6>
                      <span
                        style="font-size: 11px;margin-left: 3px;color: #febe06;"
                        >SR</span
                      >
                      <span style="display: inline-block;float: left;">16</span>
                    </h6>
                  </div>
                  <div class="old-offer">
                    <div class="star-count ">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="last-offer">
                    <div>
                      <h6>
                        100
                        <span
                          style="display: inline-block;float: right;padding-left: 2px;"
                          >SR</span
                        >
                      </h6>
                    </div>
                    <div><h6>-20%</h6></div>
                  </div>
                </div>
                <div class="pro-btns">
                  <button @click.self="lovedProduct">
                    <i class="fas fa-trash-alt"></i> حذف من المفضلة
                  </button>
                  <button @click.self="addCart">
                    <i class="fas fa-cart-plus"></i> اضف الي السلة
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="product-card">
                <div class="pro-image">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590766349/glu9k1ufllx8ipqud96j.jpg"
                    alt=""
                  />
                </div>
                <div class="pro-desc">
                  <h6>كفر سباحة</h6>
                  <p>كفر سباحة الألوان المتاحة: أسود</p>
                </div>
                <div class="pro-offers">
                  <div class="new-offer">
                    <h6>
                      <span
                        style="font-size: 11px;margin-left: 3px;color: #febe06;"
                        >SR</span
                      >
                      <span style="display: inline-block;float: left;">16</span>
                    </h6>
                  </div>
                  <div class="old-offer">
                    <div class="star-count ">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="last-offer">
                    <div>
                      <h6>
                        100
                        <span
                          style="display: inline-block;float: right;padding-left: 2px;"
                          >SR</span
                        >
                      </h6>
                    </div>
                    <div><h6>-20%</h6></div>
                  </div>
                </div>
                <div class="pro-btns">
                  <button @click.self="lovedProduct">
                    <i class="fas fa-trash-alt"></i> حذف من المفضلة
                  </button>
                  <button @click.self="addCart">
                    <i class="fas fa-cart-plus"></i> اضف الي السلة
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="product-card">
                <div class="pro-image">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590820996/mh2ijkwhg0hlarum4nwy.jpg"
                    alt=""
                  />
                </div>
                <div class="pro-desc">
                  <h6>محبس أطفال بطاولة غيار وألعاب</h6>
                  <p>محبس أطفال بطاولة غيار وألعاب</p>
                </div>
                <div class="pro-offers">
                  <div class="new-offer">
                    <h6>
                      <span
                        style="font-size: 11px;margin-left: 3px;color: #febe06;"
                        >SR</span
                      >
                      <span style="display: inline-block;float: left;"
                        >450</span
                      >
                    </h6>
                  </div>
                  <div class="old-offer">
                    <div class="star-count ">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="last-offer">
                    <div>
                      <h6>
                        100
                        <span
                          style="display: inline-block;float: right;padding-left: 2px;"
                          >SR</span
                        >
                      </h6>
                    </div>
                    <div><h6>-20%</h6></div>
                  </div>
                </div>
                <div class="pro-btns">
                  <button @click.self="lovedProduct">
                    <i class="fas fa-trash-alt"></i> حذف من المفضلة
                  </button>
                  <button @click.self="addCart">
                    <i class="fas fa-cart-plus"></i> اضف الي السلة
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="product-card">
                <div class="pro-image">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767675/rwjl8oylu1nrud0aie9h.jpg"
                    alt=""
                  />
                </div>
                <div class="pro-desc">
                  <h6>نظارة سباحة</h6>
                  <p>نظارة سباحة</p>
                </div>
                <div class="pro-offers">
                  <div class="new-offer">
                    <h6>
                      <span
                        style="font-size: 11px;margin-left: 3px;color: #febe06;"
                        >SR</span
                      >
                      <span style="display: inline-block;float: left;">7</span>
                    </h6>
                  </div>
                  <div class="old-offer">
                    <div class="star-count ">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="last-offer">
                    <div>
                      <h6>
                        100
                        <span
                          style="display: inline-block;float: right;padding-left: 2px;"
                          >SR</span
                        >
                      </h6>
                    </div>
                    <div><h6>-20%</h6></div>
                  </div>
                </div>
                <div class="pro-btns">
                  <button @click.self="lovedProduct">
                    <i class="fas fa-trash-alt"></i> حذف من المفضلة
                  </button>
                  <button @click.self="addCart">
                    <i class="fas fa-cart-plus"></i> اضف الي السلة
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="product-card">
                <div class="pro-image">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590764197/bdnm1wyvzjwpp7gp1b0e.jpg"
                    alt=""
                  />
                </div>
                <div class="pro-desc">
                  <h6>أكتب وامسح الحروف العربية</h6>
                  <p>أكتب وامسح الحروف العربية</p>
                </div>
                <div class="pro-offers">
                  <div class="new-offer">
                    <h6>
                      <span
                        style="font-size: 11px;margin-left: 3px;color: #febe06;"
                        >SR</span
                      >
                      <span style="display: inline-block;float: left;">15</span>
                    </h6>
                  </div>
                  <div class="old-offer">
                    <div class="star-count ">
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="last-offer">
                    <div>
                      <h6>
                        100
                        <span
                          style="display: inline-block;float: right;padding-left: 2px;"
                          >SR</span
                        >
                      </h6>
                    </div>
                    <div><h6>-20%</h6></div>
                  </div>
                </div>
                <div class="pro-btns">
                  <button @click.self="lovedProduct">
                    <i class="far fa-heart"></i> اعجبني
                  </button>
                  <button @click.self="addCart">
                    <i class="fas fa-trash-alt"></i> حذف من السلة
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";

export default {
  components: {
    Navbar,
    Footer
  },
  methods: {
    lovedProduct: function(e) {
      console.log(e.target.children[0].classList.contains("far"));
      if (e.target.children[0].classList.contains("far")) {
        e.target.children[0].classList.remove("far");
        e.target.children[0].classList.add("fas");
      } else {
        e.target.children[0].classList.remove("fas");
        e.target.children[0].classList.add("far");
      }
    },
    addCart: function(e) {
      e.target.classList.toggle("carted");
      if (e.target.classList.contains("carted")) {
        e.target.innerHTML = " <i class='fas fa-trash-alt'></i> حذف من السلة";
      } else {
        e.target.innerHTML = " <i class='fas fa-cart-plus'></i> أضف الي السلة";
      }
    }
  }
};
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}

* {
  direction: $dir;
  text-align: $left;
}

.favorite {
  background: #f5f5f5;

  .carted {
    background: #f85056 !important;
    color: #fff;
  }
  .fa-trash-alt {
    color: #fff;
  }
  i.fa-heart.fas {
    color: #f85056;
  }

  .favorite-products {
    padding: 102px 0 24px 0;
    .prods {
      background: #fff;
      border: 1px dashed #d6d6d6;
      padding: 7px;
      > h4 {
        padding: 13px 10px;
        color: #333;
        margin-bottom: 24px;
        background: #f1f1f1;
        color: #2d2d2d;
        position: relative;
        font-size: 27px;
        &::after {
          background: linear-gradient(
            to right,
            #2980b9 20%,
            #27ae60 20%,
            #27ae60 40%,
            #d35400 40%,
            #d35400 60%,
            #8e44ad 60%,
            #8e44ad 80%,
            #c0392b 80%
          );
          position: absolute;
          content: "";
          height: 4px;
          right: 0;
          left: 0;
          bottom: -3px;
        }
      }
    }
  }
  .product-card {
    &:hover {
      transition: all 0.8s linear;
      transform: translate(0, -2px);
      cursor: pointer;
      box-shadow: 1px 1px 1px 1px #eee;
    }
    margin-bottom: 26px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    box-shadow: 4px 8px 9px -8px #c1c0c0;
    padding-top: 19px;
    border: 1px solid #ececec;
    .pro-image {
      padding: 0 10px;
      height: 150px;
      text-align: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .pro-desc {
      padding: 0 10px;
      margin-top: 15px;
      h6,
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0;
      }
      p {
        color: #c7c7c7;
        font-size: 12px;
        padding: 0 8px 6px;
      }
    }
    .pro-offers {
      overflow: hidden;
      > div {
        float: $left;
        h6 {
          display: inline-block;
          padding: 6px;
        }
      }
      .new-offer {
        width: 40%;
        span {
          font-weight: bold;
        }
        h6 {
          border-radius: 6px;
        }
      }
      .old-offer {
        width: 60%;

        .star-count {
          text-align: $right;
          margin-left: 12px;
        }
      }
      .last-offer {
        width: 100%;
        overflow: hidden;
        > div {
          float: $left;
        }
        div {
          &:first-of-type {
            h6 {
              text-decoration: line-through;
              color: #a0a0a0;
              font-size: 13px;
            }
          }
          &:last-of-type {
            width: 30%;
            float: $left;
            h6 {
              background: #feefde;
              font-size: 11px;
              font-weight: 600;
              color: #f68d1e;
            }
          }
        }
      }
    }
    .pro-btns {
      button {
        display: block;
        text-align: center;
        outline: none;
        border: none;
        width: 50%;
        float: $left;
        padding: 10px;
        &:first-of-type {
          background: #f85056;
          color: #fff;
          border-left: 1px solid #fff;
        }
        &:last-of-type {
          background-color: #febe06;
        }
      }
    }
  }
}
</style>
