<template>
  <div class="item">
    <Navbar />
    <div class="container">
       <div class="item-page">

       <div class="privious">
                <div class="privious-item"> المنتاجات </div>
                <div class="privious-item"> الالعاب </div>
                <div class="privious-item" style="color: #ffba00;"> بازل فوم بأشكال </div>
              </div>
      <div class="item-sec">
        <div class="row">
          <div class="col-md-12">
            <div class="item-sec-cont">
             
              <div class="product-item-grid">
                <div class="product-item-head">
                  <h4>تفاصيل المنتج</h4>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="product-item-img">
                      <img
                        src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590760834/t99ewez2yqvwm1yncrps.jpg"
                      />
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="product-item-details">
                      <h4>بازل فوم أشكال</h4>
                      <p>
                        المقاس: الألوان المتاحة: وصف المنتج:
                      </p>
                      <svg
                        v-for="x in 3"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 2"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <h3>
                        <span
                          style="float:right;margin-left: 3px;font-size: 15px;padding-top: 10px;"
                          >SR</span
                        >
                        45
                      </h3>
                      <div class="last-offer">
                        <div>
                          <h6><span style="float:right;">SR</span> 50</h6>
                        </div>
                        <div><h6>-20%</h6></div>
                      </div>

                      <div class="add-cart">
                        <button @click="addCart" color="warning">
                          <i class="fas fa-cart-plus"></i>أضافة الي السلة
                        </button>
                      </div>
                      <div class="loved-this">
                        <button
                          @click.self="lovedThis"
                          color="success"
                          type="filled"
                        >
                          <i class="far fa-heart"></i> أضافة الي المفضلة
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="related-products">
        <div class="card-best-seller">
          <div class="header-best-seller">
            <h6>منتاجات ذات صلة</h6>
          </div>
          <swiper class="swiper" :options="swiperOptionRelatedProducts">
            <swiper-slide>
              <div class="product">
                <div class="product-img">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590766349/glu9k1ufllx8ipqud96j.jpg"
                    alt=""
                  />
                </div>
                <div class="product-cont">
                  <h6>البيبي الصغير</h6>
                  <p>
                    البيبي الصغير
                  </p>
                </div>
                <div class="offers">
                  <div class="offer">
                    <h6>
                      57
                      <span
                        style="float:right;font-size: 13px;margin-left: 3px;padding-top: 3px;"
                        >SR</span
                      >
                    </h6>
                  </div>
                  <div class="old-offer" style="margin-right: 85px;float:none;">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="product">
                <div class="product-img">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590764804/mrch8jsom876a6uhvnuf.jpg"
                    alt=""
                  />
                </div>
                <div class="product-cont">
                  <h6>صلصال ألوان</h6>
                  <p>
                    صلصال ألوان
                  </p>
                </div>
                <div class="offers">
                  <div class="offer">
                    <h6>
                      29
                      <span
                        style="float:right;font-size: 13px;margin-left: 3px;padding-top: 3px;"
                        >SR</span
                      >
                    </h6>
                  </div>
                  <div class="old-offer" style="margin-right: 85px;float:none;">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="product">
                <div class="product-img">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767583/aagzy6ydysej2xmrs7o5.jpg"
                    alt=""
                  />
                </div>
                <div class="product-cont">
                  <h6>كفر سباحة</h6>
                  <p>
                    كفر سباحة الألوان المتاحة: أسود
                  </p>
                </div>
                <div class="offers">
                  <div class="offer">
                    <h6>
                      16
                      <span
                        style="float:right;font-size: 13px;margin-left: 3px;padding-top: 3px;"
                        >SR</span
                      >
                    </h6>
                  </div>
                 <div class="old-offer" style="margin-right: 85px;float:none;">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="product">
                <div class="product-img">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590767675/rwjl8oylu1nrud0aie9h.jpg"
                    alt=""
                  />
                </div>
                <div class="product-cont">
                  <h6>نظارة سباحة</h6>
                  <p>
                    نظارة سباحة
                  </p>
                </div>
                <div class="offers">
                  <div class="offer">
                    <h6>
                      7
                      <span
                        style="float:right;font-size: 13px;margin-left: 3px;padding-top: 3px;"
                        >SR</span
                      >
                    </h6>
                  </div>
                  <div class="old-offer" style="margin-right: 85px;float:none;">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="product">
                <div class="product-img">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590764197/bdnm1wyvzjwpp7gp1b0e.jpg"
                    alt=""
                  />
                </div>
                <div class="product-cont">
                  <h6>أكتب وامسح الحروف العربية</h6>
                  <p>
                    أكتب وامسح الحروف العربية
                  </p>
                </div>
                <div class="offers">
                  <div class="offer">
                    <h6>
                      15
                      <span
                        style="float:right;font-size: 13px;margin-left: 3px;padding-top: 3px;"
                        >SR</span
                      >
                    </h6>
                  </div>
                  <div class="old-offer" style="margin-right: 85px;float:none;">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="product">
                <div class="product-img">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590864959/jjotln1lsjjmaigbodyu.jpg"
                    alt=""
                  />
                </div>
                <div class="product-cont">
                  <h6>ألعاب حوض سمك</h6>
                  <p>
                    ألعاب حوض سمك
                  </p>
                </div>
                <div class="offers">
                  <div class="offer">
                    <h6>
                      279
                      <span
                        style="float:right;font-size: 13px;margin-left: 3px;padding-top: 3px;"
                        >SR</span
                      >
                    </h6>
                  </div>
                  <div class="old-offer" style="margin-right: 85px;float:none;">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="product">
                <div class="product-img">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590762942/mgbwhevtkgfkzxbctsn2.jpg"
                    alt=""
                  />
                </div>
                <div class="product-cont">
                  <h6>ألوان للوجه</h6>
                  <p>
                    المقاس: الألوان المتاحة: وصف المنتج:
                  </p>
                </div>
                <div class="offers">
                  <div class="offer">
                    <h6>
                      15
                      <span
                        style="float:right;font-size: 13px;margin-left: 3px;padding-top: 3px;"
                        >SR</span
                      >
                    </h6>
                  </div>
                  <div class="old-offer" style="margin-right: 85px;float:none;">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="product">
                <div class="product-img">
                  <img
                    src="https://res.cloudinary.com/hamza-solutions-kayan/image/upload/v1590824764/g3alarqjsjkcgoqmty1f.jpg"
                    alt=""
                  />
                </div>
                <div class="product-cont">
                  <h6>السيارة المتسلقة</h6>
                  <p>
                    السيارة المتسلقة
                  </p>
                </div>
                <div class="offers">
                  <div class="offer">
                    <h6>
                      139
                      <span
                        style="float:right;font-size: 13px;margin-left: 3px;padding-top: 3px;"
                        >SR</span
                      >
                    </h6>
                  </div>
                 <div class="old-offer" style="margin-right: 85px;float:none;">
                      <svg
                        v-for="x in 5"
                        :key="x + 'c'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#f6b01e"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                      <svg
                        v-for="x in 0"
                        :key="x + 'd'"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#c7c7cd"
                        width="16"
                        height="12"
                      >
                        <path
                          d="M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z"
                        />
                      </svg>
                    </div>
                </div>
              </div>
            </swiper-slide>



            <div
              class="swiper-pagination-related-products"
              slot="pagination"
            ></div>
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
          </swiper>
        </div>
      </div>
    </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import { directive } from "vue-awesome-swiper";
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import Footer from "../components/Footer";
import Navbar from "../components/Navbar";
import "swiper/css/swiper.css";
export default {
  data() {
    return {
      isActive: false,
      swiperOptionRelatedProducts: {
        slidesPerView: 5,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination-related-products",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      }
    };
  },
  components: {
    Footer,
    Swiper,
    SwiperSlide,
    Navbar
  },
  methods: {
    addCart: function(e) {
      e.target.classList.toggle("carted");
      if (e.target.classList.contains("carted")) {
        e.target.innerHTML = " <i class='fas fa-trash-alt'></i> حذف من السلة";
      } else {
        e.target.innerHTML = " <i class='fas fa-cart-plus'></i> أضف الي السلة";
      }
    },
    lovedThis: function(e) {
      e.target.classList.toggle("loved");
      if (e.target.classList.contains("loved")) {
        e.target.innerHTML = " <i class='fas fa-trash-alt'></i> حذف من المفضلة";
      } else {
        e.target.innerHTML = " <i class='far fa-heart'></i> أضف الي المفضلة";
      }
    }
  },
  watch: {
    isActive: function(val) {
      if (val == true) {
        document.querySelector(".far.fa-heart").classList.replace("far", "fas");
        document.querySelector(".loved-this button").innerHTML =
          "<i class='far fa-heart'></i> عرض السلة";
      } else {
        document.querySelector(".fas.fa-heart").classList.replace("fas", "far");
        document.querySelector(".loved-this button").innerHTML =
          "<i class='far fa-heart'></i> أضافة الي المفضلة";
      }
    }
  }
};
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}
.privious{
           margin-bottom: 30px;
    background: #FFF;
    padding: 9px;
    position: relative;
        &::after{
          background: linear-gradient(to right, #c0392b 20%, #ffba00 20%, #ffba00 40%, #d35400 40%, #d35400 60%, #ffba00 60%, #ffba00 80%, #c0392b 80%);
    position: absolute;
    content: "";
    height: 4px;
    right: 0;
    left: 0;
    bottom: 0;
        }
        >div{
              display: inline-block;
              padding-top: 10px;
              padding-bottom: 10px;
              font-size: 17px;
              cursor: pointer;
              transition: all .5s ease;
              &:hover{
                color:#febe06;
              }
          &:not(:last-of-type){
             &::after{
            content: ' / ';
            padding:10px;
          }
          }
        }
        
      }
      
.item {
  background-color: #f5f7f9;
  .item-page{
        padding-top: 110px;

  }
  .item-sec {
    .item-sec-cont {
      background-color: #fff;
      border: 1px solid #ddd;
      
      .product-item-grid {
        padding-bottom: 60px;
        position: relative;
        &::after {
          background: linear-gradient(
            to right,
            #2980b9 20%,
            #27ae60 20%,
            #27ae60 40%,
            #d35400 40%,
            #d35400 60%,
            #8e44ad 60%,
            #8e44ad 80%,
            #c0392b 80%
          );
          position: absolute;
          content: "";
          height: 4px;
          right: 0;
          left: 0;
          bottom: -3px;
        }
        .product-item-head {
          h4 {
            padding: 20px 10px;
            background: #eee;
            margin-bottom: 50px;
            border-bottom: 2px dashed #909090;
          }
        }
        .product-item-img {
          border-right: 1px solid #ddd;
          width: 235px;
          margin: auto;
          border: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .last-offer {
          width: 200px;
          overflow: hidden;
          div {
            &:first-of-type {
              font-size: 24px;
              text-decoration: line-through;
              color: #9c9c9c;
              width: 79%;
              h6 {
                font-size: 21px;
              }
            }
            &:last-of-type {
              h6 {
                background: #feefde;
                font-size: 11px;
                font-weight: 600;
                color: #f68d1e;
                display: inline-block;
                padding: 6px;
              }
            }
          }
          > div {
            width: 21%;
            float: left;
          }
        }
        .product-item-details {
          padding-right: 27px;
          padding-bottom: 10px;
          margin-bottom: 17px;
          margin-left: 27px;
          padding-left: 13px;
        }
        .add-cart {
          width: 48%;
          float: $left;
          margin-top: 50px;
          button {
            width: 100%;
            padding: 8px;
            /* background-color: #1ba287; */
            color: #fff;
            font-size: 21px;
            /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
            /* border: 1px solid #333; */
            text-align: center;
            outline: 0;

            background: #ffba00;
            border: 0;
            border-radius: 7px;
            transition: all 0.2s ease;

            &:hover {
              box-shadow: 0 8px 25px -8px rgba(var(--vs-warning), 1);
            }
            i {
              margin: 0 10px;
            }
          }
        }
        .carted {
          background: #ff4757 !important ;
          &:hover {
            box-shadow: 0 8px 25px -8px rgba(var(--vs-danger), 1);
          }
        }

        .loved {
          background: #ff4757 !important ;
          &:hover {
            box-shadow: 0 8px 25px -8px rgba(var(--vs-danger), 1);
          }
        }

        .loved-this {
          width: 48%;
          float: $left;
          margin-right: 10px;
          margin-top: 50px;
          button {
            width: 100%;
            padding: 8px;
            color: #fff;
            font-size: 21px;
            text-align: center;
            outline: 0;

            outline: 0;
            background: #d35400;
            border: 0;
            border-radius: 7px;
            transition: all 0.2s ease;
            &:hover {
              box-shadow: 0 8px 25px -8px #54d3c2;
            }
            i {
              margin: 0 10px;
            }
          }
        }
      }
      .share-product {
        clear: both;
        padding-top: 20px;
        padding-right: 0;

        ul {
          list-style: none;
          li {
            display: inline-block;
            padding: 0 6px;
            i {
              font-size: 30px;
              color: #f6b01e;
              transition: all 0.3s linear;
              &:hover {
                color: #febe06;
              }
            }
          }
        }
      }
    }
  }

  .related-products {
    margin-top: 43px;
    margin-bottom: 43px;
    border: 1px solid #dadada;
    .card-best-seller {
      .header-best-seller {
        h6 {
          padding: 15px 0;
          background: #ffc319;
          margin: 0;
          /* border-bottom: 3px dashed #fff; */
          font-size: 20px;
          padding-right: 11px;
        }
      }
    }
    .swiper-two {
      height: 430px;
      margin-left: auto;
      margin-right: auto;

      .swiper-slide {
        height: 200px;
      }
    }
    .product {
      background: #fff;
      margin: auto;
      padding: 10px;
      .product-img {
        img {
          width: 100%;
        }
      }
      .product-cont {
        padding: 26px 0 0 0;
        h6,
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .offers {
        overflow: hidden;

        .offer,
        .old-offer {
          width: 50%;
          float: $left;
        }
        .offer {
          h6 {
            background: #444;
            color: #fff;
            padding: 4px;
            display: inline-block;

            /* width: 51px; */
            text-align: right;
            border-radius: 6px;
            font-weight: bold;
          }
        }
        .old-offer {
          h6 {
            text-align: left;
            display: block;
            text-decoration: line-through;
            opacity: 0.5;
          }
        }
      }
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 19px;
      background: #333;
      color: #fff;
      padding: 9px 14px;
      border-radius: 6px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
      text-align: center;
      margin: auto;
    }
    .swiper-pagination-bullet-active {
      background: #febe06;
    }
  }
  .info-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
  }
  .info-item-one {
    &:first-of-type {
      display: inline-block;
      /* width: 48px; */
      padding: 0 9px;
      border: 2px solid #febe06;
      font-size: 25px;
      color: #febe06;
      position: relative;
      top: -61px;
      border-radius: 10px;
      margin-right: 3px;
    }
    &:last-of-type {
      display: inline-block;
      width: 76%;
    }
  }
}
</style>
