<template>
  <div class="login">
    <Navbar />
    <div class="form-login">
      <div class="login-head">
        <img src="../assets/imgs/noun_User.png" alt="" />
        <h3>تسجيل الدخول</h3>
      </div>
      <form action="">
        <div class="form-container">
          <div class="centerx">
            <vs-input
              color="warning"
              label-placeholder="اسم المستخدم"
              v-model="username"
            />
          </div>
        </div>
        <div class="form-container">
          <div class="centerx">
            <vs-input
              type="password"
              color="warning"
              label-placeholder="كلمة المرور"
              v-model="password"
            />
          </div>
        </div>

        <input type="submit" value="تسجيل الدخول" />
        <div class="login-problems">
          <div class="row">
            <div class="col-md-6">
              <div class="pass-forget">
                <nuxt-link to="" style="color:#333">
                  هل نسيت كلمة السر ؟
                </nuxt-link>
              </div>
            </div>
            <div class="col-md-6">
              <div class="register">
                <nuxt-link to=""  style="color:#333">
                  ليس لدي حساب سابق
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <Footer />
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";

export default {
  components: {
    Navbar,
    Footer
  },
  data() {
    return {
      username: "",
      password: ""
    };
  }
};
</script>

<style lang="scss">
.login {
  .form-login {
        height: 67vh;
    padding-top: 102px;
    width: 27%;
    margin: auto;
    padding: 165px 10px 80px 16px;
    .vs-con-input-label {
      width: 100% !important;
    }
    .vs-inputx.vs-input--input.normal {
      border: 1px solid rgb(254, 189, 1) !important;
      padding: 8px;
    }
    .form-container {
      margin-bottom: 31px;
    }
    input[type="submit"] {
      width: 100%;
      text-align: center;
      padding: 7px;
      background: #febd01;
      border: 1px solid #424242;
    }
    .login-head {
      h3 {
        margin-bottom: 15px;
        display: inline-block;
        margin-right: 14px;
        font-size: 29px;
      }
    }
  }
  .login-problems {
    margin-top: 8px;
  }
}
</style>
