<template>
  <div>
    <Navbar />
    <div class="container">
      <div class="general-exam-test">
        <div class="title">
          <div class="exam-level">
            <img src="../assets/imgs/easy-level-1.png" alt="" />
          </div>
          <div class="sub-name">
            <h4>المسابقة</h4>
          </div>
        </div>

        <div class="general-exam-head">
          <div class="head-three">
            <div class="c100 p25 small" style="margin-top: 0;">
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
          <div class="unit lesson-uni head-two">
            <h4 style="display:inline-block;width:100%">اجب علي الأسئلة التالية</h4>
          </div>
        </div>

        <form action="">
          <div class="general-exam-content">
            <div class="row">
              <div class="col-md-6" style="margin-bottom:20px">
                <div class="exam-cont-item">
                  <div>
                    <h6>1</h6>
                  </div>

                  <div><h6>المسابقة الأول</h6></div>
                </div>
                <div class="check-box-ques">
                  <h6>صيغة السؤال هي عبارة عن صح او خطأ ؟</h6>

                  <div
                    style="overflow:hidden;display: block;float: left;width: 50%;"
                  >
                    <input
                      type="radio"
                      name="check-ques-1"
                      class="absthalk-radio"
                      id=""
                    />
                    <span>خطأ</span>
                  </div>

                  <div
                    style="overflow:hidden;display: block;float: left;width: 50%;"
                  >
                    <input
                      type="radio"
                      name="check-ques-1"
                      class="absthalk-radio"
                      id=""
                    />
                    <span>صح</span>
                  </div>
                </div>
              </div>




               <div class="col-md-6" style="margin-bottom:20px">
                <div class="exam-cont-item">
                  <div>
                    <h6>2</h6>
                  </div>

                  <div><h6>المسابقة الثانية</h6></div>
                </div>
                <div class="check-box-ques">
                  <h6>صيغة السؤال هي عبارة عن صح او خطأ ؟</h6>

                  <div
                    style="overflow:hidden;display: block;float: left;width: 50%;"
                  >
                    <input
                      type="radio"
                      name="check-ques-2"
                      class="absthalk-radio"
                      id=""
                    />
                    <span>خطأ</span>
                  </div>

                  <div
                    style="overflow:hidden;display: block;float: left;width: 50%;"
                  >
                    <input
                      type="radio"
                      name="check-ques-2"
                      class="absthalk-radio"
                      id=""
                    />
                    <span>صح</span>
                  </div>
                </div>
              </div>

            
              <div class="col-md-6" style="margin-bottom:20px">
                <div class="exam-cont-item">
                  <div>
                    <h6>3</h6>
                  </div>

                  <div><h6>المسابقة الثالثة</h6></div>
                </div>
                <div class="check-box-ques">
                  <h6>صيغة السؤال هي عبارة عن صح او خطأ ؟</h6>

                  <div class="ques-answer-btns">
                    <div class="row">
                      <div class="col-md-4">
                        <button>اجابة 1</button>
                      </div>

                      <div class="col-md-4">
                        <button>اجابة 2</button>
                      </div>

                      <div class="col-md-4">
                        <button>اجابة 3</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6" style="margin-bottom:20px">
                <div class="exam-cont-item">
                  <div>
                    <h6>4</h6>
                  </div>

                  <div><h6>المسابقة الرابعة</h6></div>
                </div>
                <div class="check-box-ques">
                  <h6>صيغة السؤال هي عبارة عن صح او خطأ ؟</h6>

                  <div class="ques-answer-btns">
                    <div class="row">
                      <div class="col-md-4">
                        <button>اجابة 1</button>
                      </div>

                      <div class="col-md-4">
                        <button>اجابة 2</button>
                      </div>

                      <div class="col-md-4">
                        <button>اجابة 3</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

               <div class="col-md-6" style="margin-bottom:20px">
                <div class="exam-cont-item">
                  <div>
                    <h6>5</h6>
                  </div>

                  <div><h6>المسابقة الخامسة</h6></div>
                </div>
                <div class="check-box-ques">
                  <h6>صيغة السؤال هي عبارة عن صح او خطأ ؟</h6>

                  <div
                    style="overflow:hidden;display: block;float: left;width: 50%;"
                  >
                    <input
                      type="radio"
                      name="check-ques-5"
                      class="absthalk-radio"
                      id=""
                    />
                    <span>خطأ</span>
                  </div>

                  <div
                    style="overflow:hidden;display: block;float: left;width: 50%;"
                  >
                    <input
                      type="radio"
                      name="check-ques-5"
                      class="absthalk-radio"
                      id=""
                    />
                    <span>صح</span>
                  </div>
                </div>
              </div>



                <div class="col-md-6" style="margin-bottom:20px">
                <div class="exam-cont-item">
                  <div>
                    <h6>6</h6>
                  </div>

                  <div><h6>المسابقة السادسة</h6></div>
                </div>
                <div class="check-box-ques">
                  <h6>صيغة السؤال هي عبارة عن صح او خطأ ؟</h6>

                  <div
                    style="overflow:hidden;display: block;float: left;width: 50%;"
                  >
                    <input
                      type="radio"
                      name="check-ques-6"
                      class="absthalk-radio"
                      id=""
                    />
                    <span>خطأ</span>
                  </div>

                  <div
                    style="overflow:hidden;display: block;float: left;width: 50%;"
                  >
                    <input
                      type="radio"
                      name="check-ques-6"
                      class="absthalk-radio"
                      id=""
                    />
                    <span>صح</span>
                  </div>
                </div>
              </div>


              <div class="col-md-6" style="margin-bottom:20px">
                <div class="exam-cont-item">
                  <div>
                    <h6>7</h6>
                  </div>

                  <div><h6>المسابقة السابع</h6></div>
                </div>
                <div class="check-box-ques">
                  <h6>صيغة السؤال هي عبارة عن صح او خطأ ؟</h6>

                  <div class="ques-answer-btns">
                    <div class="row">
                      <div class="col-md-4">
                        <button>اجابة 1</button>
                      </div>

                      <div class="col-md-4">
                        <button>اجابة 2</button>
                      </div>

                      <div class="col-md-4">
                        <button>اجابة 3</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




               <div class="col-md-6" style="margin-bottom:20px">
                <div class="exam-cont-item">
                  <div>
                    <h6>8</h6>
                  </div>

                  <div><h6>المسابقة الثامنة</h6></div>
                </div>
                <div class="check-box-ques">
                  <h6>صيغة السؤال هي عبارة عن صح او خطأ ؟</h6>

                  <div class="ques-answer-btns">
                    <div class="row">
                      <div class="col-md-4">
                        <button>اجابة 1</button>
                      </div>

                      <div class="col-md-4">
                        <button>اجابة 2</button>
                      </div>

                      <div class="col-md-4">
                        <button>اجابة 3</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

             

           

              <input type="submit" value="تصحيح" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";

export default {
  components: {
    Navbar,
    Footer
  },
  methods: {
    playAudio: function() {
      document.getElementById("player").play();
    },
    pauseAudio: function() {
      document.getElementById("player").pause();
    },
    increaseVolume: function() {
      document.getElementById("player").volume += 0.1;
    },
    decreaseVolume: function() {
      document.getElementById("player").volume -= 0.1;
    }
  }
};
</script>

<style lang="scss">
.fill-the-ques {
  span {
    width: 100%;
  }
}
.general-exam-test {
    padding-top:102px;
  input[type="submit"] {
    display: block;
    width: 36%;
    text-align: center;
    margin: 36px auto;
    padding: 9px;
    background: #ffbf13;
    color: #fff;
    border: 0;
    border-radius: 5px;
  }
  .audio-div {
    overflow: hidden;
    .audio-icon {
      display: block;
      width: 15%;
      float: right;
      text-align: center;
    }
    audio {
      display: block;
      width: 85%;
      float: left;
    }
  }
  .absthalk-radio {
    -webkit-appearance: none;
    width: 10px;
    display: block;
    height: 10px;
    /* background: #DDD; */
    padding: 15px 15px;
    border: 2px dotted #e3e3e3;
    outline: 0;
    position: relative;
    border-radius: 8px;
    float: right;
    &:checked {
      border: 2px dotted #ffbf13;
      &::after {
        position: absolute;
        content: "";
        width: 65%;
        height: 60%;
        top: 4px;
        left: 6px;
        background-size: cover;
        background-image: url('../assets/imgs/tick.svg');
      }
    }
  }
  .title {
    overflow: hidden;
    margin-bottom: 5px;
    .sub-name {
      h4 {
        display: block;
        font-size: 34px;
        margin-right: 12px;
        margin-bottom: 0;
        width: 100%;
        float: left;
        color: #ffbf13;
      }
      img {
        display: block;
        width: 31px;
        float: left;
      }
    }
    .sub-name,
    .exam-level {
      display: block;
      width: 50%;
      float: left;
      padding-top: 0;
    }
    .exam-level {
      text-align: left;
      padding: 20px 0;
      img {
        display: inline-block;
        width: 40px;
        margin-left: 17px;
        margin-top: -21px;
      }
      h6 {
        display: inline-block;
      }
    }
  }

  .general-exam-head {
    overflow: hidden;
    > div {
      float: left;
      &:first-of-type {
        width: 10%;
      }
      &:last-of-type {
        width: 100%;
        padding: 6px 1px;
        margin: 0;
        box-shadow: none;
        h4 {
          margin-left: 10px;
              display: inline-block;
    width: 100%;
        }
        img {
          display: block;
          width: 27px;
          float: right;
          margin-left: 11px;
        }
      }
    }
    .unit {
      padding: 0;
    }
  }

  .general-exam-content {
    .exam-cont-item {
      overflow: hidden;
      > div {
        float: right;

        &:first-of-type {
          width: 9%;

          h6 {
            color: #ddd;
            background-color: #ffbf13;
            padding: 15px;
            text-align: center;
            border-radius: 0 6px 6px 0;
          }
        }
        &:last-of-type {
          width: 91%;

          h6 {
            color: #ffbf13;
            background-color: #f2f2f2;
            padding: 15px;
            margin: 0;
            border-radius: 6px 0 0 6px;
          }
        }
      }
    }
    .check-box-ques {
      span {
        display: block;
        width: 34px;
        float: right;
        font-size: 18px;
        padding-top: 3px;
        margin: 0 6px;
      }
      > img {
        width: 100%;
        height: 207px;
        margin-bottom: 34px;
        box-shadow: 0px 1px 10px -1px #ddd;
        border-radius: 17px;
      }
      h6 {
        margin-bottom: 15px;
        color: 20px;
        margin-top: 22px;
        color: #898989;
      }
      .ques-answer-btns {
        button {
          padding: 14px;
          width: 100%;
          text-align: center;
          background: #fff;
          border: 0;
          box-shadow: 0px 0px 10px 1px #ddd;
          border-radius: 10px;
          font-weight: bold;
          color: #333;
          font-size: 16px;
        }
      }
      .file-choose {
        position: relative;
        width: 100%;
        height: 200px;
        margin-top: 13px;
        input[type="file"] {
          position: absolute;
          width: 100%;
          /* visibility: hidden; */
          opacity: 0;
          height: 100%;
          cursor: pointer;
          margin-top: 10px;
        }
        span {
          border: 1px dashed #444444;
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          background: #fff;
          z-index: -1;
          margin: 10px 0;
          height: 100%;
          text-align: center;
          cursor: pointer;
          border-radius: 15px;
          line-height: 186px;
          color: #444444;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .general-exam-test .title .sub-name h4 {
    display: block;
    font-size: 31px;
    margin-right: 8px;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    color: #ffbf13;
  }
  .general-exam-test .general-exam-head > div:last-of-type h4 {
    width: 13%;
    margin-bottom: 16px;
    font-size: 17px;
  }
  .unit h6 {
    font-size: 13px;
  }
  .fill-the-ques {
    font-size: 10px !important;
  }
  .general-exam-test .general-exam-head > div:last-of-type {
    width: 100%;
  }
  .general-exam-test .general-exam-head > div:first-of-type {
    width: 19%;
    margin-bottom: 18px;
  }

  .general-exam-test {
    padding-top: 60px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .general-exam-test {
    padding-top: 60px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
</style>
