<template>
  <div class="register-form">
    <Navbar />
    <div class="form-reg">
      <div class="login-head">
          <img src="../assets/imgs/noun_User.png" alt="">
        <h3>انشاء حساب جديد</h3>
      </div>
    </div>


    <div class="container">
    
      <div class="form-container">
        <div class="row">
        <div class="col-md-6">
          <div class="form-logo">
          <img src="../assets/imgs/undraw_add_to_cart_vkjp.svg">
        </div>
        </div>
        <div class="col-md-6">
          <div class="form-content">
            
      <form action="">
        <div class="form-container">
          <div class="centerx">
            <vs-input
              color="warning"
              label-placeholder="اسم المستخدم"
              v-model="username"
            />
          </div>
        </div>
        <div class="form-container">
          <div class="centerx">
            <vs-input
              type="password"
              color="warning"
              label-placeholder="كلمة المرور"
              v-model="password"
            />
          </div>
        </div>

        <div class="form-container">
          <div class="centerx">
            <vs-input
              type="password"
              color="warning"
              label-placeholder="كلمة المرور"
              v-model="password"
            />
          </div>
        </div>

        <div class="form-container">
          <div class="centerx">
            <vs-input
              type="password"
              color="warning"
              label-placeholder="كلمة المرور"
              v-model="password"
            />
          </div>
        </div>

        <div class="form-container">
          <div class="centerx">
            <vs-input
              type="password"
              color="warning"
              label-placeholder="كلمة المرور"
              v-model="password"
            />
          </div>
        </div>

        <input type="submit" value="انشاء حساب جديد" />
        <div class="login-problems">
          <div class="row">
            <div class="col-md-6">
              <div class="pass-forget">
                <nuxt-link to="">
                  بالفعل لدي حساب
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </form>
          </div>
        </div>
      </div>
    
    </div>
    
    
    </div>
    <ChatPopUp />
    <Footer />
  </div>
</template>

<script>
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import ChatPopUp from "../components/ChatPopUp";


export default {
  components: {
    Navbar,
    Footer,
    ChatPopUp
  },
  data() {
    return {
      username: "",
      password: ""
    };
  }
};
</script>

<style lang="scss">
.register-form {
  .form-reg {
      padding-top:102px;

    .login-head {
      text-align: center;
    margin-bottom: 36px;
      h3 {
            margin-bottom: 15px;
    display: inline-block;
    margin-right: 14px;
    font-size: 37px;
      }
    }
  }

  .form-container{
    .form-logo{
      img{
        width:100%;
      }
    }
    .centerx{
      .vs-con-input{
        input{
          width:100%;
        }
      }
    }
    .form-content{
      form{
        margin-top: 57px;
        input[type="submit"]{
          width: 100%;
          padding: 7px;
          margin-top: 14px;
          border: 0;
          outline: none;
          background: #ffba00;
          color: #FFF;
          text-align: center;
          font-size: 18px;
          border-radius: 5px;
        }
        .vs-con-input-label{
          width:100% !important;
        }
      }
      .nuxt-link-exact-active.nuxt-link-active{
        color:#333 !important;
      }
    }
  }
  .login-problems{
      margin-top: 8px;
  }
}
</style>
